<ul #tabs class="tabs">
  <li class="tab col s6"><a class="active" href="#test1">Самый дешевый</a></li>
  <li class="tab col s6"><a href="#test2">Самый быстрый</a></li>
</ul>

<div class="row">
  <div id="test1" class="col s12">
    <app-dashboard-item></app-dashboard-item>
    <app-dashboard-item></app-dashboard-item>
    <app-dashboard-item></app-dashboard-item>
    <app-dashboard-item></app-dashboard-item>
    <app-dashboard-item></app-dashboard-item>
  </div>
  <div id="test2" class="col s12">
    <app-dashboard-item></app-dashboard-item>
    <app-dashboard-item></app-dashboard-item>
  </div>
</div>




