<div class="card">
  <div class="card-content">
    <div class="card-header">
      <div class="card-price">{{ticket.price | currency:'RUB': 'symbol-narrow': '1.2-2'}}</div>
      <div class="card-logo">
        <img src="{{logoLink(ticket)}}" alt="logo">
      </div>
    </div>
    <ul>
      <li>
        <table>
          <thead>
            <tr>
              <th>{{ticket.segments[0].origin}} – {{ticket.segments[0].destination}}</th>
              <th>В пути</th>
              <th>
                {{counterTransfers(ticket.segments[0].stops)}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ticket.segments[0].date | date:'hh:mm'}} – {{arrivalTime(ticket.segments[0]) | date:'hh:mm'}}
              </td>
              <td>
                {{duration(ticket.segments[0].duration)}}
              </td>
              <td>
                <span
                  *ngFor="let stop of ticket.segments[0].stops;
                  index as i"
                >
                  {{stop + (i === ticket.segments[0].stops.length - 1 ? '' : ', ')}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <table>
          <thead>
            <tr>
              <th>{{ticket.segments[1].origin}} – {{ticket.segments[1].destination}}</th>
              <th>В пути</th>
              <th>
                {{counterTransfers(ticket.segments[1].stops)}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ticket.segments[1].date | date:'hh:mm'}} – {{arrivalTime(ticket.segments[1]) | date:'hh:mm'}}
              </td>
              <td>
                {{duration(ticket.segments[1].duration)}}
              </td>
              <td>
                <span
                  *ngFor="let stop of ticket.segments[1].stops;
                  index as i"
                >
                  {{stop + (i === ticket.segments[1].stops.length - 1 ? '' : ', ')}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>
